.app-name {
  text-align: center;
  border: 5px solid red;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.login-account {
  text-align: center;
  border: 5px solid red;
  position: fixed;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
}

.login-account-form-div {
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.login-account-form-div label {
  display: block;
  border: 5px solid red;
}

/* change to file specific class name */
input {
  width: 250px;
  font-size: 20px;
}

.login-btn {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

/* p {
  position: fixed;
  top: 300px;
  left: 20%;
  transform: translateX(-10%);
  border: 5px solid red;
} */

/* .email-input {
    width: 250px;
    font-size: 20px;
  }
  
  .password-input {
    width: 250px;
    font-size: 20px;
  } */
